<nav>
	<ul>
		<li>
			<a ng-click="setTransition()" href="#/declaration/circons">Déclaration
				<p>Créer un nouveau constat d'accident. Génère un document en PDF</p>
			</a>
		</li>
		<li>
			<a ng-click="setTransition()" href="#/profil">Profil
				<p>Remplir votre profil accélère la complétition du constat</p>
			</a>
		</li>
		<li>
			<a ng-click="setTransition()" href="#/assistance">Assistance
				<p>Contacter les urgences ou une assistance</p>
			</a>
		</li>
		<li>
			<a ng-click="setTransition();toggleAbout()" href="">Aide et infos
				<p>Section d'aide, d'options et d'informations utiles</p>
			</a>
		</li>
	</ul>
</nav>	

