<div class="bg out">
	<div class="bgform in tpin ltin">
		<h3>Données de l'assuré</h3>
		<label for="Name">
			<input id="Name" ng-model="name" type="text" placeholder="Nom : " />
		</label>
		<label for="Surname">
			<input id="Surname" ng-model="surname" type="text" placeholder="Prénom : " />
		</label>
		<label for="Adress">
			<input id="Adress" ng-model="street" type="text" placeholder="Adresse : " />
		</label>
		<label for="Postal">
			<input id="Postal" ng-model="postal" type="tel" placeholder="Code Postal : " />
		</label>
		<label for="Land">
			<input id="Land" ng-model="land" type="text" placeholder="Pays : " />
		</label>
		<label for="Tel">
			<input id="Tel" ng-model="tel" type="tel" placeholder="Téléphone : " />
		</label>
		<label for="Email">
			<input id="Email" ng-model="email" type="email" placeholder="E-mail : " />
		</label>
	</div>
</div>
<div class="bg out">
	<div class="bgform in tpin ltin">
		<h3>Données du véhicule</h3>
		<label for="Car">
			<input id="Car" ng-model="car" type="text" placeholder="Marque/Type" />
		</label>
		<label for="Ni">
			<input id="Ni" ng-model="ni" type="tel" placeholder="N°Immatriculation" />
		</label>
		<label for="Pi">
			<input id="Pi" ng-model="pi" type="text" placeholder="Pays Immatriculation" />
		</label>
	</div>
</div>
<div class="bg out">
	<div class="bgform in tpin ltin">
		<h3>Données de l'assurance</h3>
		<label for="Assname">
			<input id="Assname" ng-model="assname" type="text" placeholder="Nom : " />
		</label>
		<label for="Ncontrat">
			<input id="Ncontrat" ng-model="ncontrat" type="tel" placeholder="N° Contrat : " />
		</label>
		<label for="Ncarte">
			<input id="Ncarte" ng-model="ncarte" type="tel" placeholder="N° Carte verte : " />
		</label>
		<label for="Agence">
			<input id="Agence" ng-model="agence" type="text" placeholder="Agence ou Courtier : " />
		</label>
		<label for="Assadress">
			<input id="Assadress" ng-model="assadress" type="text" placeholder="Adresse : " />
		</label>
		<label for="Asstel">
			<input id="Asstel" ng-model="asstel" type="tel" placeholder="Téléphone : " />
		</label>
	</div>
</div>